<!DOCTYPE html>
<html lang="ru">
{% block header %}
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/font-awesome-4.7.0/css/font-awesome.min.css">
    {% block title %}
      <title>Главная</title>
    {% endblock title %}
</head>
{% endblock header %}
<body>
    <div class="wrapper">
        <div class="sidebar-left">
            <div>
              <a href="{% url 'index' %}"><img src="/static/img/logoza.ru(2).png" alt=""></a>
            </div>
            <div class="menu">
              <ul>
                  <li><a href="{% url 'index' %}"><i class="fa fa-x fa-user"></i>Главная<mark>1</mark></a></li>
                  <li><a href="{% url 'add_staff' %}"><i class="fa fa-x fa-user"></i>Добавить сотрудника<mark>1</mark></a></li>
                  <li><a href="#"><i class="fa fa-x fa-user"></i>Lorem ipsum.<mark>12</mark></a></li>
                  <li><a href="#"><i class="fa fa-x fa-user"></i>Lorem ipsum.<mark>5234</mark></a></li>
                  <li><a href="#"><i class="fa fa-x fa-user"></i>Lorem ipsum.<mark>3</mark></a></li>
              </ul>
            </div>
        </div>
        {% block content %}
          <div></div>
        {% endblock content %}
        <div class="sidebar-right">
          <div style="text-align: center;">
            <i class="fa fa-user-circle-o fa-2x"></i>
            <p>Login</p>
          </div>
        </div>
    </div>
{% block script %}
  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/js/custom_js.js"></script>
{% endblock script %}
</body>
</html>